<header class="site-header">
  <div class="header-inner">
    <!-- Logo -->
    <a href="/" class="brand-logo">
      <div class="brand-logo-box">
        <span class="brand-logo-mark">
          <img
            alt="Redot Engine Logo"
            style="color: transparent"
            src="/Redot Logo.svg"
          />
        </span>
      </div>
      <div class="brand-logo-text">
        <span class="brand-wordmark">Redot Engine</span>
        <span class="brand-tagline">Open-source game engine</span>
      </div>
    </a>

    <!-- Nav -->
    <nav class="main-nav" aria-label="Primary navigation">
      <div
        id="header-menu-button"
        onclick="main.menu(); event.preventDefault();"
      >
        <span class="material-symbols-rounded">menu</span>
      </div>

      <ul class="nav-list">
        <li>
          <a href="https://blog.redotengine.org/">Blog</a>
        </li>
        <li><a href="/download.html">Download</a></li>
        <li><a href="/contact-and-community.html">Contact & Community</a></li>
        <li>
          <a href="https://docs.redotengine.org/en/stable/">Documentation</a>
        </li>
        <li>
          <a href="https://github.com/Redot-Engine">Github</a>
        </li>
        <li>
          <a href="https://ko-fi.com/redotengine">Donation</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
