<aside id="sidebar" style="display: none">
  <div id="sidebar-left">
    <ul>
      <li>
        <a href="https://redotengine.org/">Redot Homepage</a>
      </li>
      <li>
        <a
          href="https://discord.com/servers/redot-community-1290063237223551046"
          >Discord</a
        >
      </li>
      <li>
        <a href="https://www.reddit.com/r/RedotGameEngineMain/">Reddit</a>
      </li>
      <li>
        <a href="https://redotengine.itch.io/">itch.io</a>
      </li>
      <li>
        <a href="https://ko-fi.com/redotengine">ko-fi donation</a>
      </li>
    </ul>
  </div>
  <div id="sidebar-right" onclick="main.menu(); return false;"></div>
</aside>
